<%- include('../partials/header') %>
<h2>Fitness Goals</h2>
<ul>
  <% fitness.forEach((f) => { %>
    <li><a href="/dreams/fitness/<%= fitness.id %>"><%= fitness.name %></a></li>
  <% }) %>
</ul>
<a href="/dreams/new-fitness">Create a New Dream</a>
<%- include('../partials/footer') %>