<%- include('../partials/header') %>
<h1>All Completed Dreams</h1>

<h3><a href="/dreams/careersCompleted">Careers</a></h3>
<h3><a href="/dreams/travelsCompleted">Travels</a></h3>
<h3><a href="/dreams/tasteCompleted">Taste</a></h3>
<h3><a href="/dreams/hobbiesCompleted">Hobbies</a></h3>
<h3><a href="/dreams/fitnessCompleted">Fitness</a></h3>

<%- include('../partials/footer') %>