<%- include('../partials/header') %>
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">All Complete Dreams!</h1>
    <p class="fs-5 text-body-secondary">Celebrate your achievements by adding pictures, comments in the desired category below!</p>
  </div>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Professional Milestones</h4>
        </div>
        <div class="card-body">
          <a href="/dreams/careersCompleted">
            <button type="button" class="w-100 btn btn-lg btn-outline-dark">See your accomplishments!</button>
          </a>          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Travel Destinations</h4>
        </div>
        <div class="card-body">
          <a href="/dreams/travelsCompleted">
            <button type="button" class="w-100 btn btn-lg btn-outline-dark">See your accomplishments!</button>
          </a>          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Personal Growth</h4>
        </div>
        <div class="card-body">
          <a href="/dreams/hobbiesCompleted">
            <button type="button" class="w-100 btn btn-lg btn-outline-dark">See your accomplishments!</button>
          </a>          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Cultural Explorations</h4>
        </div>
        <div class="card-body">
          <a href="/dreams/tasteCompleted">
            <button type="button" class="w-100 btn btn-lg btn-outline-dark">See your accomplishments!</button>
          </a>          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Health/Fitness</h4>
        </div>
        <div class="card-body">
          <a href="/dreams/fitnessCompleted">
            <button type="button" class="w-100 btn btn-lg btn-outline-dark">See your accomplishments!</button>
          </a>          
        </div>
      </div>
    </div>
<%- include('../partials/footer') %>