<%- include('../partials/header') %>
<div class="align-items-center justify-content-center">
  <h2 class="mt-5 mb-5 ms-3 shadow-sm">Create a New Dream</h2>
  <form action="/dreams/taste" method="POST">
    <div class="mb-3 ms-4 me-4 mt-5">
      <label for="name"><strong>Name:</strong></label>
      <ul>
        <input type="text" name="name" id="name" required>
        </ul>
    </div>
    <div class="mb-3 ms-4 me-4">
      <label for="description"><strong>Description:</strong></label>
      <ul>
        <textarea name="description" id="description"></textarea>
      </ul>
    </div>
    <div class="mb-3 ms-1 me-4 form-check">
      <label for="priority"><strong>Priority:</strong></label>
      <ul>
        <input type="number" name="priority" id="priority" required>
      </ul>
    </div>
    <button type="submit" class="mb-3 ms-4 me-4 mt-4 btn btn-outline-dark justify-content-end">Create Dream</button>
  </form>
  </div>
<%- include('../partials/footer') %>
