<%- include('../partials/header') %>
<h2>Taste Goals</h2>
<ul>
  <% taste.forEach((t) => { %>
    <li><%= t.name %></li>
  <% }) %>
</ul>
<a href="/dreams/new-taste">Create a New Dream</a>
<%- include('../partials/footer') %>